@media (max-width: 768px) {
  .main-container {
    width: 85%;
    height: 100%;
    margin: auto;
   }


  /* First Section */
  .first-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .left, .Right {
    width: 100%;
   }

  .standout{
     display: none;
   }
  
  .left h1 {
    font-size: 48px;
    padding: 0;
    line-height: 1;
   }

  .apparel {
    position: static;
    display: block;
   }

  .Right p {
    padding-top: 3vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size: 16px;
  }

  /* Second Section */

  .second-section {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 0;
  }

  #disclaimer-circle{
    display: none;
  }

  .disclaimer, .disclaimer-right {
    width: 100%;
    height: fit-content;
  }

  .disclaimer-brief h4{
    font-size:30px ;
    text-align: center;
  }

  .disclaimer-brief p{
    font-size:16px ;
    text-align: center;
  }

  #para-2{
    font-size: 16px;
  }

  .disclaimer-brief br{
    display: none;
  }
  
  .disclaimer img, .disclaimer-right img {
    height: auto;
   }

  /* Third Section */
  .third-section {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 0;
  }

  .img-container{
   width: fit-content;
   height: fit-content;
  }

   #second-1{
    padding-top: 3vh;
    height: auto;

    }

  .third-sec-left, .third-sec-right {
    width: 100%;
  }

#third-2{
  height: auto;
  padding-top: 3vh;
  /* display: none; */
}
}
 
