*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  height: 100vh;
}

 
.main-container {
  /* background-color: red; */
  /* display: flex; */
  width: 95%;
  height: 100vh;
  margin: auto;
}

.first-section  {
  display: flex;
  background-color: black;
  height:200px ;
  width: 100%;
  gap: 5px;

}

.left {
  width: 50%;
  background-color: #db7070;
  font-family: "Gasoek one";
  font-weight: 400;
  color: #fffb00;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  
 }

 .Right{
   /* background-color: #dfbaba; */
  font-family: "ibm plex sans";
  Color: #fffde3;
  font-size: 18px;
  width: 18rem;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* padding-top: 10px;
  padding-left: 10px; */
  text-align: right;
  word-spacing: 2px;
  
 }