*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  height: 100vh;
  background-color:  #000;
}

 
.main-container {
  /* background-color: red; */
  /* display: flex; */
  width: 95%;
  height: 100vh;
  margin: auto;
}

.first-section  {
  display: flex;
  /* background-color: black; */
  height:200px ;
  width: 100%;
  /* gap: 5px; */

}

.left {
  width: 50%;
  height: 100%;
  /* background-color: #db7070; */
  padding: 2rem;

 }

 .left h1{
  font-family: "Gasoek one";
  font-weight: 400;
  color: #fffb00;
  font-size: 64px;
  text-transform: uppercase;
  line-height:9vh;
  /* letter-spacing: 3px; */
  
 }

 .Right{
   /* background-color: #dfbaba; */
   width:50%;
   height: 100%;
 }

 .Right p{
  Color: #fffde3;
  padding-top: 8vh;
  padding-right: 10vw;
  text-align: right;
  line-height: 1.6em;
  letter-spacing: 0.4em;
  font-weight: 300;
  font-family: "ibm plex sans";
  font-size: 15px;
  /* width: 18rem; */
 }
 
 #text-bold{
  font-weight: bold;
 }