*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100vw;
  height: 100vh;
}

.main-container{
  /* background-color: red; */
  display: flex;
  width: 95%;
  height: 100vh;
  margin: auto;
}

.first-section {
  background-color: black;
  height:200px ;
  width: 100%;
  align-items: center;

}

.left{
  font-family: "Gasoek one";
  font-weight: 400;
  color: #fffb00;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
 }

 .Right{

 }